.assort-related__item {
    margin-bottom: 1.8rem;
}
.assort-related__title {
    font-size: 15px;
    font-size: .9375rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.66;
    -webkit-transition: .3s;
    transition: .3s;
    margin: 0;
    padding: 0;
    color: #d63f15;
    font-family: Oswald, sans-serif;
}
.assort-related__thumbnail {
    height: auto;
    width: 100%;
    margin: 0 0 1rem;
}