@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    .promo-panel {
        padding: 173px 367px 385px;
    }
    .main-navigation .menu > li + li {
        margin-left: 43px;
    }
    .assort-cat {
        &__item {
            flex: 0 0 25%;
            max-width: 25%;
            min-height: 700px;
            &-full {
                flex: 0 0 20%;
                max-width: 20%;
            }
            &-half {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        &__title {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    .recomends .recomends__item {
        width: 25%;
        .recomends__content {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .footer-menu__items .menu-item {
        margin-right: 45px;
    }
    .not-found.error-404 {
        margin: 207px 0;
    }
    .assort-header {
        margin-bottom: 5.8rem;
    }
    .assort-item .assort-item__thumbnail {
        margin-bottom: 5.5rem;
    }
    .assort-item-list li {
        padding-left: 2em;
    }
    .news-item {
        margin-bottom: 5em;
        padding-left: 245px;
        padding-right: 245px;
        padding-top: 5.8em;
        &__thumbnail-wrap {
            margin-left: -245px;
            margin-right: -245px;
        }
        &__footer > * {
            margin-bottom: 25px;
        }
        &__tags {
            margin-bottom: 25px;
        }
    }
    .achiev {
        & &__wrap {
            margin: 0 auto;
            padding-left: 0;
        }
    }
}
@media (min-width: 1400px) {
    .assort .assort-cat__wrap .assort-cat__item > div{
        padding: 2rem 3rem;
    }
}
