#toTop {
    background: #686868;
    color: #bdbdbd;
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: -999em;
    overflow: hidden;
    width: 55px;
    height: 55px;
    z-index: 999;
    text-align: center;
    border-radius: 45px;
    i {
        line-height: 55px;
        width: 100%;
        font-size: 20px;
    }
    &:hover {
        color: #fff;
        background-color: #d63f15;
    }
}
