.assort {
    margin-bottom: 3em;
}
.assort-header {
    padding: 3rem 1rem;
    margin-bottom: 3rem;
    background-color: #484848;
}
.assort-header__content {
    padding: 0;
}
h1.assort-header__title {
    color: #fff;
    font-size: 35px;
    font-size: 2.1875rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 4.2px;
}
