.team {
    max-width: 810px;
    & &-member {
        clear: none;
        .team-member__image {
            margin-bottom: 40px;
            img {
                width: 100%;
            }
        }
    }
}
.team-member {
    & &__text {
        align-self: center;
        -webkit-box-flex: 1;
        flex: 1 1 50%;
        color: #484848;
    }
    & &__name {
        padding-bottom: 0;
        font-size: 29px;
        font-size: 1.8125rem;
    }
    & &__position {
        color: #bdbdbd;
    }
    & &__social {
        margin: 0;
        li {
            margin-right: 15px;
            padding-left: 0;
            margin-top: 0;
            display: inline-block;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: #bdbdbd;
                display: inline-block;
                font-size: 16px;
                position: relative;
                text-align: center;
                transition: color 300ms ease 0s;
                &:hover {
                    color: #d63f15;
                }
            }
        }
    }
    p {
        margin-bottom: 15px;
    }
}